/* CSS declarations go here */
  body {
      position: relative;
  }
  .navbar {
      margin-bottom: 100px;
  }
  .welcome {
  	margin-top: 50px;
  }
  .thumbnail {
    height:300px 100%;
    word-wrap:break-word;
    background-color: #ffffff;
  }
  .app-thumbnail {
    height:200px;
    width: 300px;
    word-wrap:break-word;
    background-color: #ffffff;
  }
  .thumbnail-img{
    max-height:200px;
  }
  .js-a-stop, .js-a-start, .js-m-play { text-align: center; margin: 10px;  margin-left: 20px; }
  #section1 {padding-top:50px;min-height:100vh; height:100%;color: #000; background-color: #ffffff;}
  #section2 {padding-top:50px;min-height:100vh; height:100%;color: #000; background-color: #673ab7;}
  #section3 {padding-top:50px;min-height:100vh; height:100%;color: #000; background-color: #ff9800;}
  #section4 {padding-top:50px;min-height:100vh; height:100%;color: #000; background-color: #00bcd4;}