[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AnilVinnakota
[access "refs/for/refs/*"]
	read = group user/AnilVinnakota
	push = group user/AnilVinnakota
	label-Code-Review = -2..+2 group user/AnilVinnakota
	label-Verified = -1..+1 group user/AnilVinnakota
	rebase = group user/AnilVinnakota
	removeReviewer = group user/AnilVinnakota
	submit = group user/AnilVinnakota
[access "refs/heads/*"]
	read = group user/AnilVinnakota
	create = group user/AnilVinnakota
	push = +force group user/AnilVinnakota
	pushMerge = group user/AnilVinnakota
[access "refs/tags/*"]
	push = +force group user/AnilVinnakota
	pushTag = group user/AnilVinnakota
	pushSignedTag = group user/AnilVinnakota
